/* סגנון כללי ל־input של קובץ */
#file-upload {
    display: block; /* הצג את ה־input כבלוק עם רוחב מלא */
    width: 100%;
    max-width: 300px; /* רוחב מקסימלי */
    padding: 10px; /* רווחים פנימיים */
    margin: 10px 0; /* מרווחים בין האלמנטים */
    font-size: 16px; /* גודל גופן */
    border: 2px solid #ccc; /* גבולות סולידיים וגוון קרם */
    background-color: #f9f9f9; /* רקע קרם */
    color: #333; /* צבע טקסט כהה */
    cursor: pointer; /* סמן עכבר כפרט אינטראקטיבי */
    outline: none; /* גיבוב קווי קו רקע */
    transition: all 0.3s ease; /* מעבר חלק בזמן */
  }
  
  /* סגנון כאשר יש מעבר עכבר וסימן */
  #file-upload:hover {
    border-color: #666; /* שינוי צבע הגבול כשהעכבר עליו */
  }
  
  /* סגנון כאשר האלמנט מתמלא */
  #file-upload:active,
  #file-upload:focus {
    border-color: #3366cc; /* צבע גבול פעיל / ממוקד */
  }
  
  /* סגנון לסימון הקובץ */
  #file-upload::file-selector-button {
    font-size: 16px; /* גודל גופן */
    font-weight: bold; /* גודל קווי */
    padding: 8px 20px; /* רווחים פנימיים */
    background-color: #3366cc; /* צבע רקע כחול */
    color: #fff; /* צבע טקסט לבן */
    border: none; /* אין גבול */
    cursor: pointer; /* סמן עכבר כמאפשר */
    outline: none; /* גיבוב קו רקע */
    transition: background-color 0.3s ease; /* מעבר חלק בזמן */
  }
  
  /* סגנון כאשר יש מעבר עכבר וסימן */
  #file-upload::file-selector-button:hover {
    background-color: #235a9e; /* שינוי צבע רקע בהעברת העכבר */
  }
  
  /* סגנון כאשר הקובץ מעלה */
  #file-upload::file-selector-button:active {
    background-color: #1a4561; /* שינוי צבע רקע פעיל */
  }

  .apartment-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.apartment-details {
    display: flex;
    background-color: rgb(255, 255, 255,0.2);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    /* max-width: 1200px; */
    margin: 20px;
}

.apartment-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apartment-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 0 0 8px;
}

.apartment-info {
    flex: 2;
    padding: 20px;
}

.apartment-title {
    font-size: 24px;
    margin-bottom: 8px;
}

.apartment-subtitle {
    font-size: 18px;
    margin-bottom: 12px;
    color: #666;
}

.info-item {
    margin-bottom: 10px;
}

.features {
    margin-top: 20px;
}

.features .feature {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.features .feature .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.no-image {
    text-align: center;
    font-style: italic;
    color: #666;
    margin: 20px 0;
}

  