
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f0f2f5; */
}

header {
    background-color: rgb(255, 255, 255,0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0.1rem 2rem;
    margin: 0 0;
}

.logo {
    /* height: 50px; */
    padding: 0;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.links {
    text-decoration: none;
    color: #eac342;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
    padding: 10px 15px;
}

.links::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #0651a1;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.links:hover::after {
    width: 100%;
}

.active {
    color:#084d7b;
}

.active::after {
    width: 100%;
}

main {
    padding: 2rem;
    margin-top: 80px; 
}

/* Responsive Styles */
 @media (max-width: 768px) {
    .logo {
      display: none;
    }
} 

